.image {
  &-wrapper {
    @apply grid;

    grid: "image-sizer";
  }

  &-sizer {
    @apply h-0;

    grid-area: image-sizer;
    padding-bottom: var(--default-height, 100%);
  }

  &-frame {
    @apply h-full object-cover;

    grid-area: image-sizer;
  }
}