.image {
  &-wrapper {
    grid: 'image-sizer';

    @apply grid;
  }

  &-sizer {
    grid-area: image-sizer;
    padding-bottom: var(--default-height, 100%);

    @apply h-0;
  }

  &-frame {
    grid-area: image-sizer;

    @apply h-full object-cover;
  }
}