.blog-content {
  h1 {
    @apply text-4xl lg:text-5xl font-bold font-rajdhani mb-4 md:mx-10;
  }

  h2 {
    @apply text-3xl lg:text-4xl font-bold font-rajdhani mt-10 mb-4 md:mt-12 md:mb-6 md:mx-10;
  }

  h3 {
    @apply text-2xl lg:text-3xl font-medium font-rajdhani mb-4 md:mx-10;
  }

  h4 {
    @apply text-xl lg:text-2xl font-medium font-rajdhani mb-4 md:mx-10;
  }

  h5 {
    @apply text-lg lg:text-xl font-medium font-rajdhani mb-4 md:mx-10;
  }

  h6 {
    @apply text-base lg:text-lg font-normal font-rajdhani mb-4 md:mx-10;
  }

  & > p {
    @apply text-sm sm:text-base lg:text-lg leading-7 sm:leading-8 lg:leading-9 text-zinc-600 font-rubik mb-4;

    &:not(:has(img)) {
      @apply md:mx-10;
    }
  }

  img {
    @apply block w-full rounded-2xl shadow-md mb-6;
  }

  table {
    @apply border-collapse border border-gray-300 font-rubik mb-4 md:mx-10;
  }

  th, td {
    @apply border border-gray-300 px-4 py-2;
  }

  ul {
    @apply list-disc text-sm sm:text-base lg:text-lg font-rubik text-zinc-600 pl-5 lg:pl-8 mb-2 lg:my-4 md:space-y-2 md:mx-10;
  }

  ol {
    @apply list-decimal text-sm sm:text-base lg:text-lg font-rubik text-zinc-600 pl-5 lg:pl-8 mb-2 lg:my-4 lg:space-y-2 md:mx-10;
  }

  li {
    @apply leading-relaxed;
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    @apply mb-1 lg:mt-2 mx-0 pl-5;
  }

  blockquote {
    @apply my-6 sm:my-8 px-4 sm:px-6 py-5 border-orange-600 rounded-xl border-l-4 bg-orange-100 md:mx-10;

    p {
      @apply font-rubik text-sm sm:text-base lg:text-lg/relaxed text-gray-800;
    }
  }

  pre {
    @apply bg-gray-900 text-gray-100 text-sm sm:text-base lg:text-lg rounded-lg p-4 mb-4 overflow-x-auto md:mx-10;
  }

  code:not(pre code) {
    @apply bg-gray-200 text-gray-800 text-sm sm:text-base lg:text-lg rounded px-1 py-0.5;
  }

  kbd {
    @apply bg-gray-100 px-1 py-[0.1rem] rounded font-rajdhani;
  }

  mark {
    @apply bg-yellow-400;
  }

  sub {
    @apply align-sub;
  }

  sup {
    @apply align-super;
  }

  abbr {
    @apply cursor-help;
  }

  a {
    @apply text-orange-600 hover:underline font-rubik;
  }

  hr {
    @apply my-6 md:mx-10 border-slate-400;
  }
}